[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/hyperledger-gerrit-fabric-committers
	owner = group ldap/hyperledger-gerrit-fabric-release-maintainers-committers
[access "refs/heads/*"]
	create = group ldap/hyperledger-gerrit-fabric-committers
	create = group ldap/hyperledger-gerrit-fabric-release-maintainers-committers
[project]
	description = Hyperledger Homebrew Tap
[access "refs/tags/*"]
	push = group ldap/hyperledger-gerrit-fabric-committers
	push = group ldap/hyperledger-gerrit-fabric-release-maintainers-committers
	createTag = group ldap/hyperledger-gerrit-fabric-committers
	createTag = group ldap/hyperledger-gerrit-fabric-release-maintainers-committers
	createSignedTag = group ldap/hyperledger-gerrit-fabric-committers
	createSignedTag = group ldap/hyperledger-gerrit-fabric-release-maintainers-committers
[plugin "its-jira"]
	enabled = true
[plugin "slack-integration"]
	channel = fabric-ci-status
