[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/hyperledger-gerrit-fabric-committers
	read = group GitHub Replication
	create = group ldap/hyperledger-gerrit-fabric-committers
[project]
	description = Hyperledger Homebrew Tap
[access "refs/tags/*"]
	push = group ldap/hyperledger-gerrit-fabric-committers
	createTag = group ldap/hyperledger-gerrit-fabric-committers
	createSignedTag = group ldap/hyperledger-gerrit-fabric-committers
[plugin "its-jira"]
	enabled = true
[plugin "slack-integration"]
	channel = fabric-ci-status
